form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
}

input {
  padding: 5px 60px;
  border-radius: 30px;
  text-decoration: none;
  outline: none;
  border: 1px solid green;
}

.container_form {
}

.btn-submit {
  margin-top: 20px;
  padding: 5px 40px;
}
.field_error {
  color: red;
}
